// this contains variables for colors, height, border-radius, mixins, font-sizes, etc

$secondary-color: rgb(100, 98, 98);
$primary-color : white;
$light-grey: lightgrey;
$black: black;
$form-spacing: 1.3rem;
$small-spcing: 1rem;
$medium-spacing: 2rem;
$big-spacing: 3rem;



